.scanner-class{
  max-width: 80%;
}
.pages-title-text{
  font-weight: 600;
  font-size: 16px !important;
  color: #495057;
}
.user-details{
  color: #273c88;
  font-size: 0.8125rem;
  margin-top: 20px;
}
.cstmbtn{
  background-color: #273C88;
  color: white;
  margin-top: 25px;
}
.search-btn-icon{
  margin-right: 5px;
}
