<!--start wrapper-->
<div class="wrapper">

  <!--start content-->
  <main class="authentication-content">
    <div class="row g-0">
      <div class="col-xl-6 bgimage-div">
        <!-- <div class="bgimage-div-text">
            <h5 class="mb-1">
              Satisfied clients
            </h5>
            <p class="bgimage-div-p mb-5">
              A cutting-edge solution for tracking, enabling seamless monitoring and management of shipments for efficient logistics.
            </p>
          </div> -->
        <div class="w-100">
          <div class="d-flex h-100 flex-column">
            <div class="p-4 mt-auto" style="margin-bottom: 24px;">
              <div class="row justify-content-center">
                <!-- <div class="col-lg-12" style="width: 93%;;">
                    <div class="text-center">
                      <h4 class="mb-1 font-121875rem">Satisfied clients</h4>
                      <div dir="ltr">
                        <div>
                          <div class="item">
                            <div class="pb-5 pt-1">
                              <p class="font-size-16 mb-4">A cutting-edge solution for tracking, enabling seamless monitoring and management of shipments for efficient logistics.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 login-form">


        <!-- <ngb-carousel>
          <ng-template ngbSlide>
            <img src="assets/ads/1.png">
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/ads/2.png">
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/ads/3.png">
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/ads/4.png">
          </ng-template>
        </ngb-carousel> -->

        <div class="p-md-5 p-4">
          <!-- <img src="assets/images/bgimage.jpg" height="43" class="login-logo mb-5" alt="logo icon"> -->
          <img src="assets/images/eventlogo.png" height="40">
          <p class="text-muted">Register to continue</p>

          <form class="form-body d-flex" [formGroup]="createAttendeeForm">
            <div class="row w-100">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
                <label for="Name" class="form-label">Name</label>
                <input type="text" class="form-control ps-3 form-input-cstm" id="Name"
                  placeholder="Enter Name" formControlName="Name"
                  [ngClass]="{'ng-invalid-class':(createAttendeeFormValidation && createAttendeeForm.controls['Name'].invalid)}">
                <span
                  *ngIf="createAttendeeFormValidation && createAttendeeForm.controls['Name'].invalid && createAttendeeForm.controls['Name'].errors.required"
                  class="invalidate-text">
                  Please enter name
                </span>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
                <label for="Code" class="form-label">Employee Code</label>
                <input type="text" class="form-control ps-3 form-input-cstm" id="Code"
                  placeholder="Enter Employee Code" formControlName="Code"
                  [ngClass]="{'ng-invalid-class':(createAttendeeFormValidation && createAttendeeForm.controls['Code'].invalid)}">
                <span
                  *ngIf="createAttendeeFormValidation && createAttendeeForm.controls['Code'].invalid && createAttendeeForm.controls['Code'].errors.required"
                  class="invalidate-text">
                  Please enter employee code
                </span>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
                <label for="Designation" class="form-label">Designation</label>
                <input type="text" class="form-control ps-3 form-input-cstm" id="Designation"
                  placeholder="Enter Designation" formControlName="Designation"
                  [ngClass]="{'ng-invalid-class':(createAttendeeFormValidation && createAttendeeForm.controls['Designation'].invalid)}">
                <span
                  *ngIf="createAttendeeFormValidation && createAttendeeForm.controls['Designation'].invalid && createAttendeeForm.controls['Designation'].errors.required"
                  class="invalidate-text">
                  Please enter designation
                </span>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
                <label for="Email" class="form-label">Email</label>
                <input type="text" class="form-control ps-3 form-input-cstm" id="Email"
                  placeholder="Enter Email" formControlName="Email"
                  [ngClass]="{'ng-invalid-class':(createAttendeeFormValidation && createAttendeeForm.controls['Email'].invalid)}">
                <span
                  *ngIf="createAttendeeFormValidation && createAttendeeForm.controls['Email'].invalid && createAttendeeForm.controls['Email'].errors.required"
                  class="invalidate-text">
                  Please enter email
                </span>
                <span
                  *ngIf="createAttendeeFormValidation && createAttendeeForm.controls['Email'].invalid && createAttendeeForm.controls['Email'].errors.pattern"
                  class="invalidate-text">
                  Please enter email in proper format
                </span>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
                <label for="Phone" class="form-label">Whatsapp Number</label>
                <input type="text" class="form-control ps-3 form-input-cstm" id="Phone"
                  placeholder="Enter Whatsapp Number For Verification" formControlName="Phone"
                  [ngClass]="{'ng-invalid-class':(createAttendeeFormValidation && createAttendeeForm.controls['Phone'].invalid)}">
                <span
                  *ngIf="createAttendeeFormValidation && createAttendeeForm.controls['Phone'].invalid && createAttendeeForm.controls['Phone'].errors.required"
                  class="invalidate-text">
                  Please enter whatsapp number
                </span>
                <span
                  *ngIf="createAttendeeFormValidation && createAttendeeForm.controls['Phone'].invalid && (createAttendeeForm.controls['Phone'].errors.pattern || createAttendeeForm.controls['Phone'].errors.minlength || createAttendeeForm.controls['Phone'].errors.maxlength)"
                  class="invalidate-text">
                  Please enter a valid whatsapp number
                </span>
              </div>

              <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
                <label for="Address" class="form-label">Address</label>
                <input type="text" class="form-control ps-3 form-input-cstm" id="Address"
                  placeholder="Enter Address" formControlName="Address"
                  [ngClass]="{'ng-invalid-class':(createAttendeeFormValidation && createAttendeeForm.controls['Address'].invalid)}">
                <span
                  *ngIf="createAttendeeFormValidation && createAttendeeForm.controls['Address'].invalid && createAttendeeForm.controls['Address'].errors.required"
                  class="invalidate-text">
                  Please enter address
                </span>
              </div> -->

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
                <label for="Country" class="form-label">Country</label>
                <ng-multiselect-dropdown [placeholder]="'Select Country'" class="dropDown ps-3"
                [settings]="dropdownSettingsCountry" [data]="countryArr" [(ngModel)]="countrySelection" [ngModelOptions]="
                {standalone: true}" (onSelect)="onCountrySelect($event)" (onDeSelect)="onCountryDeSelect($event)">
                </ng-multiselect-dropdown>
                <span
                  *ngIf="countrySelectionErr"
                  class="invalidate-text">
                  Please select country
                </span>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2" *ngIf="countryTypeSelected && !indiaSelected">
                <label for="State" class="form-label">Country Name </label>
                <input type="text" class="form-control ps-3 form-input-cstm" id="State"
                  placeholder="Enter Country" [(ngModel)]="countryManual" [ngModelOptions]="
                  {standalone: true}">
                <span
                  *ngIf="countryManualErr"
                  class="invalidate-text">
                  Please enter country name
                </span>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2" *ngIf="countryTypeSelected && !indiaSelected">
                <label for="State" class="form-label">State</label>
                <input type="text" class="form-control ps-3 form-input-cstm" id="State"
                  placeholder="Enter State" [(ngModel)]="stateManual" [ngModelOptions]="
                  {standalone: true}">
                <span
                  *ngIf="stateManualErr"
                  class="invalidate-text">
                  Please enter state name
                </span>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2" *ngIf="countryTypeSelected && !indiaSelected">
                <label for="District" class="form-label">District</label>
                <input type="text" class="form-control ps-3 form-input-cstm" id="District"
                  placeholder="Enter District" [(ngModel)]="districtManual" [ngModelOptions]="
                  {standalone: true}">
                <span
                  *ngIf="districtManualErr"
                  class="invalidate-text">
                  Please enter district name
                </span>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2" *ngIf="countryTypeSelected && indiaSelected">
                <label for="State" class="form-label">State</label>
                <ng-multiselect-dropdown [placeholder]="'Select State'" class="dropDown ps-3"
                [settings]="dropdownSettingsState" [data]="stateArr" [(ngModel)]="stateSelection" [ngModelOptions]="
                {standalone: true}" (onSelect)="onStateSelect($event)" (onDeSelect)="onStateDeSelect($event)">
                </ng-multiselect-dropdown>
                <span
                  *ngIf="stateSelectionErr"
                  class="invalidate-text">
                  Please select state
                </span>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2" *ngIf="countryTypeSelected && indiaSelected">
                <label for="District" class="form-label">District</label>
                <ng-multiselect-dropdown [placeholder]="'Select District'" class="dropDown ps-3"
                [settings]="dropdownSettingsDistrict" [data]="districtArr" [(ngModel)]="districtSelection" [ngModelOptions]="
                {standalone: true}">
                </ng-multiselect-dropdown>
                <span
                  *ngIf="districtSelectionErr"
                  class="invalidate-text">
                  Please select district
                </span>
              </div>


              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
                <label for="Pincode" class="form-label">Pincode</label>
                <input type="text" class="form-control ps-3 form-input-cstm" id="Pincode"
                  placeholder="Enter Pincode" formControlName="Pincode"
                  [ngClass]="{'ng-invalid-class':(createAttendeeFormValidation && createAttendeeForm.controls['Pincode'].invalid)}">
                <span
                  *ngIf="createAttendeeFormValidation && createAttendeeForm.controls['Pincode'].invalid && createAttendeeForm.controls['Pincode'].errors.required"
                  class="invalidate-text">
                  Please enter pincode
                </span>
                <span
                  *ngIf="createAttendeeFormValidation && createAttendeeForm.controls['Pincode'].invalid && (createAttendeeForm.controls['Pincode'].errors.pattern || createAttendeeForm.controls['Pincode'].errors.minlength || createAttendeeForm.controls['Pincode'].errors.maxlength)"
                  class="invalidate-text">
                  Please enter a valid 6 digit pincode
                </span>
              </div>

              <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
                <label for="CompanyName" class="form-label">Company Name</label>
                <input type="text" class="form-control ps-3 form-input-cstm" id="CompanyName"
                  placeholder="Enter Company Name" formControlName="CompanyName"
                  [ngClass]="{'ng-invalid-class':(createAttendeeFormValidation && createAttendeeForm.controls['CompanyName'].invalid)}">
                <span
                  *ngIf="createAttendeeFormValidation && createAttendeeForm.controls['CompanyName'].invalid && createAttendeeForm.controls['CompanyName'].errors.required"
                  class="invalidate-text">
                  Please enter company name
                </span>
              </div> -->

              <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
                <label for="GSTNumber" class="form-label">GST Number</label>
                <input type="text" class="form-control ps-3 form-input-cstm" id="GSTNumber"
                  placeholder="Enter GST Number" formControlName="GSTNumber"
                  [ngClass]="{'ng-invalid-class':(createAttendeeFormValidation && createAttendeeForm.controls['GSTNumber'].invalid)}">
                <span
                  *ngIf="createAttendeeFormValidation && createAttendeeForm.controls['GSTNumber'].invalid && createAttendeeForm.controls['GSTNumber'].errors.required"
                  class="invalidate-text">
                  Please enter GST number
                </span>
              </div> -->

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
                <label for="Company" class="form-label">Company</label>
                <ng-multiselect-dropdown [placeholder]="'Select Company'" class="dropDown ps-3"
                [settings]="dropdownSettingsCompany" [data]="companyArr" [(ngModel)]="companySelection" [ngModelOptions]="
                {standalone: true}">
                </ng-multiselect-dropdown>
                <span
                  *ngIf="companySelectionErr"
                  class="invalidate-text">
                  Please select company
                </span>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
                <label for="Branch" class="form-label">Branch</label>
                <input type="text" class="form-control ps-3 form-input-cstm" id="Branch"
                  placeholder="Enter Branch" formControlName="Branch"
                  [ngClass]="{'ng-invalid-class':(createAttendeeFormValidation && createAttendeeForm.controls['Branch'].invalid)}">
                <span
                  *ngIf="createAttendeeFormValidation && createAttendeeForm.controls['Branch'].invalid && createAttendeeForm.controls['Branch'].errors.required"
                  class="invalidate-text">
                  Please enter branch
                </span>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
                <label for="Department" class="form-label">Department</label>
                <input type="text" class="form-control ps-3 form-input-cstm" id="Department"
                  placeholder="Enter Department" formControlName="Department"
                  [ngClass]="{'ng-invalid-class':(createAttendeeFormValidation && createAttendeeForm.controls['Department'].invalid)}">
                <span
                  *ngIf="createAttendeeFormValidation && createAttendeeForm.controls['Department'].invalid && createAttendeeForm.controls['Department'].errors.required"
                  class="invalidate-text">
                  Please enter department
                </span>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
                <label for="AreaManager" class="form-label">Area Manager</label>
                <input type="text" class="form-control ps-3 form-input-cstm" id="AreaManager"
                  placeholder="Enter Name of AM" formControlName="AreaManager"
                  [ngClass]="{'ng-invalid-class':(createAttendeeFormValidation && createAttendeeForm.controls['AreaManager'].invalid)}">
                <span
                  *ngIf="createAttendeeFormValidation && createAttendeeForm.controls['AreaManager'].invalid && createAttendeeForm.controls['AreaManager'].errors.required"
                  class="invalidate-text">
                  Please enter name of area manager
                </span>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
                <label for="RegionalManager" class="form-label">Regional Manager</label>
                <input type="text" class="form-control ps-3 form-input-cstm" id="RegionalManager"
                  placeholder="Enter Name of RM" formControlName="RegionalManager"
                  [ngClass]="{'ng-invalid-class':(createAttendeeFormValidation && createAttendeeForm.controls['RegionalManager'].invalid)}">
                <span
                  *ngIf="createAttendeeFormValidation && createAttendeeForm.controls['RegionalManager'].invalid && createAttendeeForm.controls['RegionalManager'].errors.required"
                  class="invalidate-text">
                  Please enter name of regional manager
                </span>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
                <label for="BusinessHeadHod" class="form-label">Business Head/HOD</label>
                <input type="text" class="form-control ps-3 form-input-cstm" id="BusinessHeadHod"
                  placeholder="Enter Name of Business Head/HOD" formControlName="BusinessHeadHod"
                  [ngClass]="{'ng-invalid-class':(createAttendeeFormValidation && createAttendeeForm.controls['BusinessHeadHod'].invalid)}">
                <span
                  *ngIf="createAttendeeFormValidation && createAttendeeForm.controls['BusinessHeadHod'].invalid && createAttendeeForm.controls['BusinessHeadHod'].errors.required"
                  class="invalidate-text">
                  Please enter name of business head/HOD
                </span>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
                <label for="Transportation" class="form-label">Transportation</label>
                <ng-multiselect-dropdown [placeholder]="'Select Transportation'" class="dropDown ps-3"
                [settings]="dropdownSettingsTransportation" [data]="transportationArr" [(ngModel)]="transportationSelection" [ngModelOptions]="
                {standalone: true}">
                </ng-multiselect-dropdown>
                <span
                  *ngIf="transportationSelectionErr"
                  class="invalidate-text">
                  Please select transportation
                </span>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
                <label for="ArrivalDate" class="form-label">Arrival Date</label>
                <ng-multiselect-dropdown [placeholder]="'Select Arrival Date'" class="dropDown ps-3"
                [settings]="dropdownSettingsArrivalDate" [data]="arrivalDateArr" [(ngModel)]="arrivalDateSelection" [ngModelOptions]="
                {standalone: true}" (onSelect)="onArrivalDateSelect($event)" (onDeSelect)="onArrivalDateDeSelect($event)">
                </ng-multiselect-dropdown>
                <span
                  *ngIf="arrivalDateSelectionErr"
                  class="invalidate-text">
                  Please select arrival date
                </span>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
                <label for="ArrivalTime" class="form-label">Arrival Time</label>
                <ng-multiselect-dropdown [placeholder]="'Select Arrival Time'" class="dropDown ps-3"
                [settings]="dropdownSettingsArrivalTime" [data]="arrivalTimeArr" [(ngModel)]="arrivalTimeSelection" [ngModelOptions]="
                {standalone: true}">
                </ng-multiselect-dropdown>
                <span
                  *ngIf="arrivalTimeSelectionErr"
                  class="invalidate-text">
                  Please select arrival time
                </span>
              </div>


              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-2">
                <label for="ProfileImage" class="form-label">Profile Image</label>
                <input type="file" class="form-control ps-3 form-input-cstm"
                  id="ProfileImage" placeholder="Enter Profile Image" formControlName="ProfileImage"
                  [ngClass]="{'ng-invalid-class':(createAttendeeFormValidation && createAttendeeForm.controls['ProfileImage'].invalid)}"
                  (change)="handleFileInput($event)">
                <span
                  *ngIf="createAttendeeFormValidation && createAttendeeForm.controls['ProfileImage'].invalid && createAttendeeForm.controls['ProfileImage'].errors.required"
                  class="invalidate-text">
                  Please select profile image
                </span>
              </div>
              <div class="col-12 text-center">
                <!-- <button type="submit" class="btn btn-primary login-btn mt-4" (click)="createAttendeeFormAction()"> -->
                <button type="submit" class="btn btn-primary login-btn mt-4" (click)="sendOtpValidationToWhatsapp(otpVerificationModal)">
                  <span>Register</span>
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </main>

  <!--end page main-->

</div>
<!--end wrapper-->

<!-- priint modal -->
<ng-template #otpVerificationModal let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="w-100 text-center mb-0 modal-title">Otp verification</h5>
    </div>
    <div class="modal-body">
      <div class="reg-modal-form py-4 container">
        <form class="form-body d-flex" [formGroup]="otpVerificationForm">
          <div class="row w-100">
            <div class="col-12 mb-2">
              <label for="Otp" class="form-label">Otp</label>
              <input type="text" [(ngModel)]="Otp" class="form-control ps-3 form-input-cstm" id="Otp"
                placeholder="Enter Otp" formControlName="Otp"
                [ngClass]="{'ng-invalid-class':(otpVerificationForm && otpVerificationForm.controls['Otp'].invalid)}">
              <span
                *ngIf="otpVerificationFormValidation && otpVerificationForm.controls['Otp'].invalid && otpVerificationForm.controls['Otp'].errors.required"
                class="invalidate-text">
                Please enter otp
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer justify-content-center">
      <button type="button" class="btn modal-yes-btn px-4" (click)="validateOtpAndRegister()">Submit</button>
    </div>
  </div>
</ng-template>
